{% extends "base.html" %}

{% block content %}
		{% for boulette in boulettes %}
			{% if boulette.timestamp!=0 %}
			{% if boulette.phrases|length == 1 %}
	        	<div class="post chouquette">
					<div class="phrase">{{boulette.phrases.0.message}}</div>
					<div class="auteur">
						<span class="icon" style="background-color: {{boulette.phrases.0.collaborateur.couleur}}">{{boulette.phrases.0.collaborateur.prenom[:1]}}</span>
						<b>{{boulette.phrases.0.collaborateur.prenom}} {{boulette.phrases.0.collaborateur.nom[:1]}}.</b>
					</div>
					<div class="date">Dans {{boulette.categorie.nom}} le {{boulette.timestamp|date("d/m/Y")}}</div>
				</div>
			{% else %}
				<div class="post multichouquette">
					<div class="dialogue">
						{% for phrase in boulette.phrases %}
							<div class="ligne">
								<span class="auteur">
									<span class="icon" style="background-color: {{phrase.collaborateur.couleur}}">{{phrase.collaborateur.prenom[:1]}}</span>
									<b>{{phrase.collaborateur.prenom}} {{phrase.collaborateur.nom[:1]}}. : </b>
								</span>
								<span class="phrase">{{phrase.message}}</span>
							</div>
						{% endfor %}
					</div>
					 <div class="date">Dans {{boulette.categorie.nom}} le {{boulette.timestamp|date("d/m/Y")}}</div>
				</div>
			{% endif %}
	
    	{% endif %}
    	{% endfor %}

    	<div id="pagination">
		    <a href="?page={{page+1}}" class="next">next</a>
		</div>
{% endblock %}