<header class="header">
    <a href="" class="logo">Boulettes Chouquettes</a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">



    </nav>
</header>